
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 40px;
  max-width: 1440px;
  margin: auto;
}

.foot {
  background-color: black;
  bottom: 0;
}

.foot .container {
  font-family: "Poppins", sans-serif;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.custom-color {
  color: #fff;
}

.card {
  width: 15rem;
  border: none;
}

.image {
  height: 15rem;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.like-button {
  cursor: pointer;
}

/* popup */
.popupContainer {
  width: 55%;
  height: 90%;
  display: none;
  background: gray;
  position: fixed;
  border-radius: 10px;
  top: 4%;
  left: 25%;
  text-align: center;
  justify-content: center;
  color: #333;
  overflow-y: scroll;
  transition: filter 0.3s ease-in-out;
}

.popupContainer2 {
  height: 95%;
}

.blur-background {
  filter: blur(8px);
  pointer-events: none;
  transition: filter 0.3s ease-in-out;
}

.close-btn {
  position: absolute;
  right: 0;
  width: 45px;
  border-radius: 22px;
  height: 45px;
  background: floralwhite;
  margin-right: 14px;
  margin-top: -54px;
  font-size: 24px;
  font-family: monospace;
  font-weight: 600;
  border: 5px solid rgb(26, 94, 156);
}

.subDivOne {
  display: flex;
  height: 55%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 66px;
}

img.movie-img {
  width: 50%;
  height: 450px;
  border-radius: 20px;
}

h2.movieName {
  margin-top: 16px;
  background-color: bisque;
  color: black;
  border-radius: 6px;
  padding: 14px;
  font-size: 22px;
  width: 38%;
}

.subDivTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 6px;
  background: bisque;
  padding: 12px;
  margin: 12px 8%;
}

.commentHeading {
  margin-top: 12px;
  background-color: bisque;
  color: black;
  border-radius: 6px;
  padding: 4px;
  width: 30%;
}

input.typeName {
  width: 90%;
  padding: 4px;
  height: 28px;
}

input.typeComment {
  width: 90%;
  padding: 4px;
  height: 28px;
  margin-top: 6px;
}

.submitComment {
  margin-top: 6px;
  width: 62px;
  height: 32px;
  box-shadow: 3px 3px lightgray;
  border-radius: 6px;
}

.description {
  width: 75%;
  background: bisque;
  border-radius: 8px;
}

p#sumTxt {
  font-size: 24px;
  color: darkblue;
  font-weight: 800;
}

.smallItems {
  background: beige;
  width: 52%;
  margin-top: 5px;
  border-radius: 8px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 6px;
  background: bisque;
  padding: 12px;
  margin: 12px 8%;
}

p.comments {
  background: black;
  color: white;
  width: 114px;
  border-radius: 8px;
  margin: 7px;
}

.inputComments {
  width: 52%;
  padding: 8px;
  margin-top: 26px;
}

.forStyling {
  height: 8px;
}

li.comment-li {
  display: flex;
  background: lightgrey;
  margin: 6px;
  gap: 18px;
  padding: 4px;
  border-radius: 10px;
}

.fa-solid {
  color: grey;
}