* {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 40px;
  max-width: 1440px;
  margin: 0 auto;
}

.foot {
  background-color: black;
  bottom: 0;
}

.foot .container {
  font-family: "Poppins", sans-serif;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
